.packages
.pub/
.dart_tool/
pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Config
packages/tools_of_worship_client/lib/config/properties.dart
packages/tools_of_worship_server/lib/properties.dart

# Deploy files
packages/tools_of_worship_server/web