.packages
.pub/
.dart_tool/
pubspec.lock
.vscode/launch.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

packages/tools_of_worship_server/.flutter-plugins
packages/tools_of_worship_server/.flutter-plugins-dependencies

# Config
packages/tools_of_worship_api/lib/src/config/properties.dart
packages/tools_of_worship_server/lib/properties.dart

# Deploy files
publish/

# Build scripts
build-client-web.bat
upgrade-api.bat
upgrade-client.bat
upgrade-server.bat